
.main-nav{
 background-color: $blue!important;
 border-bottom: 1px solid $brown;
}
.navbar-brand img{
  max-height: 100%;
}
.smart-scroll{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.scrolled-down{
   transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
   transform:translateY(0); transition: all 0.3s ease-in-out;
}
  .masthead {
      width:100%;
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(to bottom, rgba(47,65,73, 1)15%, rgba(0,0,0,0)70%),
     url('../img/banner_mbois.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }